ipython[all]

# time
maya
pytz

# image
pillow

# framework
japronto

# aws
aiobotocore

# markdown
markdown2

# crawler
selenium
lxml
pyquery
pyspider

# profile
vprof
line_profiler
memory_profiler
pytest-benchmark
pprofile

celery

jieba
pymongo

# web
gunicorn
aiohttp
meinheld
tornado
sanic

# syntax
mypy-lang

# test
ipdb

# time
arrow

# profiler
psutil
line_profiler
memory_profiler

# async
aiohttp

# web
tornado
flask
purl
meinheld
gunicorn

# graph
networkx
graphviz
pycallgraph

# tools
cython
ipython
pygments
pyzmq
pipe

# encrypt
PyJWT
bcrypt

# pub / sub & event-driver
blinker

# chart
python-nvd3>=0.13.3

# ldap
ldap3

# snmp
pysnmp

# science toolkit
numpy
scipy
cython
scikit-learn
matplotlib
pandas
numexpr

# terminal
click
xtermcolor
tqdm

# for hull computation
setuptools>=5.7

# algorithm
pybloof
