# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
include/
lib64
share/
.ipynb_checkpoints/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Intellij Idea
.idea/

# VIM
*.swp

# ssh
id_rsa

# sass
*.scssc

# pyenv
venv
active
activate
.python-version

# packages
node_modules
bower_components
golang/pkg
golang/src/*
!golang/src/demo
# !golang/src/demo/*

# tests
.hypothesis

# data
tags
*.zip
py35/src/airflow/logs/
.vscode
hugefile

# java
*.class
.gradle
gradle
target

# zookeeper
/zookeeper/data

cpuprofile
meory.pprof
sgx/gramine/test.tar.gz
sgx/gramine/jupyter/python3.manifest.sgx
sgx/gramine/jupyter/python3.manifest
py3/ailangchain/.chroma
blockchain/arweave/scripts/wallet.json
