# profiler
psutil
line_profiler
memory_profiler
graphviz
pycallgraph

# tools
ipython
pyzmq

# chart
python-nvd3>=0.13.3

# science toolkit
numpy
scipy
scikit-learn
matplotlib

# for hull computation
setuptools>=5.7
