# profiler
psutil
line_profiler
memory_profiler
graphviz
pycallgraph

# async
aiohttp

# tools
ipython
pyzmq
pipe

# pub / sub & event-driver
blinker

# chart
python-nvd3>=0.13.3

# science toolkit
numpy
scipy
scikit-learn
matplotlib

# for hull computation
setuptools>=5.7
