<!-- controller.html -->
<!-- 首先指定顶层的 app -->
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .controller {
        width: 100%;
        border-bottom: 1px solid blue;
        margin-bottom: 10px;
    }
    </style>
</head>

<body>
    <!-- 指定 controller -->
    <div class="controller" ng-controller="myController">
        <!-- 每一个 controller 都会创建一个 $scope -->
        <!-- 调用了 scope 中的 greeting 和 username -->
        <!-- 用 ng-init 可以初始化变量 -->
        <p ng-init="dot = '.'">{{ greeting }} {{ username }} {{ dot }}
        </p>
        <!-- ng-model 数据绑定 -->
        <!-- 相当于设置 $scope.username = input.value -->
        <input type="text" ng-model="username">
        <!-- 用 ng-click 绑定点击事件 -->
        <button ng-click="addDot()">addDot</button>
    </div>
    <!-- service demo -->
    <div class="controller" ng-controller="serviceDemo">
        <!-- 当点击按钮时，调用 serviceShow 并传入参数 userInput -->
        <input type="text" ng-model="userInput">
        <button ng-click="serviceShow(userInput)">Alert</button>
    </div>
    <div class="template" ng-controller="templateDemo">
        <label for="">Filter: {{ 'NiNiNi' | myFilter:10 }}</label>
        <!-- 指定 form 的 name -->
        <form novalidate class="simple-form" name="myForm">
            <!-- 指定 input 的 name -->
            <div>
                <!-- 默认的 regular，立刻生效 -->
                <span>Name:</span>
                <input type="text" ng-model="user.name" name="myName" required="" />
                <span ng-show="myForm.myName.$error.required">请输入你的名字</span>
            </div>
            <div>
                <!-- 当移开焦点时才生效 -->
                <!-- 指定 ng-model-options 为 "{ updateOn: 'blur' }" -->
                <span>blur 失焦</span>
                <input type="text" ng-model="user.nameBlur" name="blur" ng-model-options="{ updateOn: 'blur' }">
                <p>blur: {{ user.nameBlur }}</p>
            </div>
            <div>
                <!-- 延迟生效 -->
                <span>debounce 延迟</span>
                <input type="text" ng-model="debounce" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                <p>debounce: {{debounce}}</p>
            </div>
        </form>
        <span>Forms: </span><pre>{{ user | json }}</pre>
    </div>
    <script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</body>

</html>
