---
spring:
  zipkin:
    baseUrl: http://zipkin:9411
  sleuth:
    # stream:
    #   enable: false
    sampler:
      percentage: 1.0
    web:
      skipPattern: (^cleanup.*|.+favicon.*)
  # cloud:
  #   stream:
  #     default:
  #       contentType: application/json
  #     kafka:
  #       binder:
  #         autoCreateTopics: false
  #         brokers: 1.1.1.1,1.1.1.1,1.1.1.1
  #         zkNodes: 1.1.1.1,1.1.1.1,1.1.1.1
  #         defaultBrokerPort: 9092
  #         defaultZkPort: 2181
  #         headers:
  #           - X-B3-TraceId
  #           - X-B3-SpanId
  #           - X-B3-Sampled
  #           - X-B3-ParentSpanId
  #           - X-Span-Name
  #           - X-Process-Id
  #           - messageSent
  #           - X-Span-Export
  #     bindings:
  #       sleuth:
  #         destination: tracingSit
